% if not defined('user'):
%    user = logged_in_user()
% end

<!DOCTYPE html>
<html lang="en" class=" izaglqfd idc0_350"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasbena Knjižnica</title>
    <link rel="stylesheet" href="/static/styling.css">
</head>
<body>
    <div position: fixed, align: right>
        <a>prijavljeni uporabnik:</a>
        % if user:
        <a>{{user}}</a>
        % else:
        <a>niste prijavljeni</a>
        % end
    </div>
        <a href="/prijava/">
            <p>
                <br>
                prijava
            </p>
        </a>
        <a href="/registracija/">
            <p>
                <br>
                registracija
            </p>
        </a>
        <a href="/odjava/">
            <p>
                <br>
                odjava
            </p>
        </a>
    </div>
</body>