% if not defined('user'):
%    user = logged_in_user()
% end

<!DOCTYPE html>
<html lang="en" class=" izaglqfd idc0_350"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasbena Knjižnica</title>
    <link rel="stylesheet" href="/static/styling.css">
</head>
<body>
    <div class="top-row">
        <div class="top-row-item">
            % if user:
            <p style="text-align: center">Naložite svojo glasbo</p>
            % else:
            <p style="text-align: center">Za naganje glasbe je potrebna prijava</p>
            % end
        </div>
        <div class="top-row-search">
            <form action="/search/" method="POST">
                <div class="field" style='text-align: center; padding: 2%; '>
                    <input class='input' type='text' name='query' placeholder='išči' />
                    <select name="tip">
                        <option value="user">Uporabnik</option>
                        <option value="album">Album</option>
                        <option value="song">Pesem</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="top-row-item">
            % if user:
            <div class="dropdown">
                <button class="dropbtn">{{user}}</button>
                <div class="dropdown-content">
                    <a href="/odjava/">Odjava</a>
                </div>
            </div>
            % else:
            <div class="dropdown">
                <button class="dropbtn">Niste prijavljeni</button>
                <div class="dropdown-content">
                    <a href="/prijava/">Prijava</a>
                    <a href="/registracija/">Registracija</a>
                </div>
            </div>
            % end
        </div>
    </div>
    <div class="flex-container" style="padding-bottom: 3%; gap: 0px">
        <div class="flex-item">
            <p>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum nisl dui, et tempor dolor luctus a. Proin sed faucibus risus, in ullamcorper velit. Vivamus consectetur ultricies blandit. Suspendisse volutpat ligula a magna luctus, vitae pharetra quam bibendum. Nunc euismod lacinia arcu, sit amet mollis augue interdum at. Suspendisse potenti. Cras suscipit iaculis erat tempor auctor. Suspendisse vulputate, lacus sodales feugiat sodales, magna sapien posuere lectus, eu auctor felis nisl ac ipsum. Praesent sed lacinia lorem. Maecenas malesuada malesuada placerat. Cras quam mauris, facilisis vitae mi eget, efficitur consequat turpis.

In porttitor id metus quis blandit. Pellentesque ac mauris nec metus euismod sollicitudin. Vivamus convallis massa et euismod tristique. Curabitur consectetur ac ex quis commodo. Ut eu lorem erat. Nulla convallis, augue quis porttitor lobortis, nisi ligula tempus quam, id dictum eros arcu nec purus. Curabitur rutrum sodales mi, sit amet blandit eros congue et. Ut euismod commodo tellus. Morbi ut accumsan libero, vitae semper arcu.

Donec non finibus lectus, in cursus nisi. Nulla lobortis justo sit amet leo faucibus, pretium consequat urna mattis. Phasellus at metus quis velit aliquam suscipit. Integer ante leo, tincidunt eget sodales quis, iaculis quis ligula. Ut nec facilisis tortor, vel blandit eros. Praesent pulvinar elit diam, eleifend sagittis augue luctus nec. Fusce nisl leo, maximus pellentesque vestibulum et, venenatis in magna. Donec elit massa, ullamcorper nec dictum a, gravida sit amet leo. Fusce a leo aliquet, ullamcorper leo eget, molestie tellus. Maecenas vestibulum erat vitae diam viverra, vitae molestie massa blandit. Sed posuere erat justo, quis imperdiet ante eleifend et. Donec suscipit, orci ut aliquet venenatis, urna lorem pretium lacus, at imperdiet elit velit et odio. Fusce iaculis ligula ligula, ac mollis risus sagittis sed. Fusce mollis consectetur euismod.

Proin vehicula orci eget nisl aliquam porttitor commodo sed diam. Donec euismod laoreet risus. Mauris posuere, nunc quis bibendum euismod, justo neque efficitur neque, nec rutrum velit urna quis massa. Cras vitae magna sapien. Donec ipsum felis, dictum ut mattis sit amet, laoreet id diam. Donec sodales nunc cursus massa volutpat consequat. Pellentesque sit amet nulla id sem rutrum congue sed et tortor. Aenean vel mi dui. Donec ac odio et diam varius semper. Cras nunc neque, faucibus vulputate nisl et, porta gravida est. Nulla feugiat pretium ligula, vitae sagittis lorem sollicitudin in. Nullam eget ex sed felis pellentesque feugiat. Suspendisse nec pellentesque augue, sit amet ullamcorper purus.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel arcu vestibulum, lacinia velit ultricies, commodo ipsum. Maecenas ut aliquam mi. Phasellus gravida finibus lorem, nec pulvinar leo facilisis eget. Cras gravida porta turpis, a laoreet metus convallis eget. Phasellus congue est quis nisl varius mollis. Praesent mollis felis ut orci dignissim, a posuere tellus ornare. Nam vitae elit lobortis, rutrum orci a, accumsan dui. Fusce faucibus at tellus eu tincidunt. Fusce et condimentum libero. Maecenas at malesuada mi. Vestibulum pellentesque et enim ac dignissim.

In luctus mollis ex sit amet tincidunt. Duis quis eros urna. Proin elementum, lorem et venenatis faucibus, est purus viverra felis, in interdum nulla ante non ante. Phasellus ultricies pretium massa vitae eleifend. In iaculis eleifend ante vel fringilla. Nunc vitae purus justo. Praesent fermentum massa faucibus leo bibendum bibendum. Mauris non mollis quam. Proin non nisi eget ipsum sodales posuere.

Sed et aliquam felis. Suspendisse potenti. Aliquam imperdiet efficitur fringilla. Etiam volutpat pulvinar auctor. Donec a hendrerit metus. Aenean ac odio suscipit, facilisis purus eu, vehicula sapien. Sed commodo finibus nulla a elementum. Nulla quis nisl non tellus bibendum pulvinar vel non libero. Curabitur suscipit bibendum mauris sit amet vulputate. Donec maximus luctus mauris eu finibus.

Proin et sapien quis felis rutrum tempus et vel dui. Curabitur non faucibus lectus. Aenean lorem tortor, consectetur sed maximus posuere, dapibus non dui. Duis malesuada volutpat nisl, vel tempor ipsum interdum ut. Aliquam finibus faucibus diam mollis vestibulum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce convallis tristique maximus. Nulla aliquet mi a sem eleifend, in accumsan nibh laoreet. Etiam vestibulum fringilla ex, at ornare dolor egestas sed. Praesent dignissim purus et magna egestas, vestibulum facilisis diam pulvinar. Etiam malesuada eget arcu eu pretium. Curabitur non nibh elit. Nullam tempus vestibulum odio, at ultrices odio malesuada in. Etiam ornare purus vitae orci tempus gravida.

Nulla ut consectetur velit. Quisque egestas nisl quis sem pretium, eu ultricies felis pulvinar. Fusce eu libero et dui faucibus ultricies et dapibus lectus. Ut consectetur id turpis a finibus. Sed id lacinia augue. Proin luctus suscipit arcu, vitae mattis sem lacinia quis. Aenean lacinia erat porttitor elit dignissim semper. Quisque eget scelerisque nisi. Ut interdum faucibus sem rutrum vestibulum. Cras auctor at dolor at pellentesque. Praesent sapien massa, suscipit id risus vel, egestas ultrices lacus. Nulla facilisi.

Donec eget leo eu turpis faucibus interdum at a nulla. Sed ut diam gravida, dignissim metus a, pulvinar odio. Maecenas laoreet sagittis quam placerat pellentesque. Sed arcu risus, convallis nec rutrum elementum, lobortis vel nulla. In quis felis quis lectus tempor pellentesque. Aliquam vel mi aliquam, porttitor nunc sed, euismod magna. Mauris lorem turpis, pharetra non congue ac, porttitor vel diam. Nullam auctor feugiat interdum. 
            </p>
        </div>
    </div>
</body>