<!DOCTYPE html>
<html lang="en" class=" izaglqfd idc0_350"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava - Glasbena Knjižnica</title>
    <link rel="stylesheet" href="styling.css">
</head>

% form = read_form()

<body>
    <form action="/login/" method="POST">
        <div class="field">
            <label class="label">Uporabniško ime</label>
                <input class="input" type="text" name="username" placeholder="Name" value="{{form.get('username', ''')}}" />