% rebase("base.html")

<br><br><br><br>

<div class="search-bar">
    <form action="/pesmi/" method="GET">
        <div class="field">
            <input class="input" type="text" name="query" placeholder="Vpiši ime pesmi" value="{{query}}">
            <button class="button is-success">Išči</button>
        </div>
    </form>
</div>

<br><br>

<div class="search-results">
    % if results:
    % for song in results:
    <div class="result">
        <div class="title">
            {{song.title}}
        </div>
        <audio controls>
            <source src="{{song.location[1:]}}" type="audio/mpeg">
        </audio>
        <div class="info">
            Izvajalec: <a href="/uporabniki/{{song.author.id}}/">{{song.author}}</a>
            <br>
            Izdaja:<a href="/izdaje/{{song.release}}/">{{song.release_title}}</a>
        </div>
    </div>
    % end
</div>

