body {
    align-items: center;
    color: rgb(255, 244, 219);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/static/bg.jpg");
    height: 100vh;
    transition: all 0.5s;
}

/* zgornji bar za osnovno navigacijo */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333333;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: rgb(255, 244, 219);
    text-align: center;
    padding: 14px 16px;
}
.navbar li a:hover {
    background-color: #111111;
}

/* iskalnik */
.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar form {
    display: flex;
    flex-direction: column;
    background-color: #212529c7;
    font-family: Arial, Helvetica, sans-serif;
    width: 25vw;
    border-radius: 20px;
    padding: 1vh;
    margin: 1vh;
    align-items: center;
}
.search-bar .field input{
    background-color: #11111100;
    color: rgb(255, 244, 219);
    text-decoration: none;
}
.search-bar .field button  {
    opacity: 100%;
}

/* rezultati iskanja */
.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.search-results .result {
    background-color: #212529c7;
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
    border-radius: 20px;
    padding: 1vh;
    margin: 1vh;
    align-items: center;
    text-align: center;
}
.search-results .result .song-title {
    font-size: 20px;
    font-weight: bold;
}
.search-results .result a {
    color: rgb(255, 244, 219);
}
.search-results .result audio{
    background-color: #21252900;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
    border-radius: 20px;
    width: fit-content;
    max-width: 100%;
    }
.dropdown-content {
    display: none;
    position: absolute;
    color: rgb(255, 244, 219);
    background-color: #212529c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
    color: rgb(255, 244, 219);
}
.dropbtn {
    background-color: #21252900;
    align-content: center;
    width: fit-content;
    max-width: 100%;
    color: rgb(255, 244, 219);
    border: none;
    font-weight: normal;
    font-size: 16px;
    border-radius: 20px;
    padding: 12px;
}
.dropdown-content a:hover {
    background-color: #212529eb;
    border-radius: 20px;
    color: rgb(255, 244, 219);
    }
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    }
.dropdown:hover .dropbtn {background-color: #212529eb;}

