body {
    align-items: center;
    color: rgb(255, 244, 219);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/static/bg.jpg");
    height: 100vh;
    transition: all 0.5s;
}

/* zgornji bar za osnovno navigacijo */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333333;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.navbar li a:hover {
    background-color: #111111;
}


/* osnova / rezultati iskanja */
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    }
.flex-item{
    background-color: #212529c7;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vh;
    width: 100%;
    border-radius: 20px;
    }
.item-header{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    }
.item-header:hover{
    background-color: #212529e8;
    border-radius: 20px;
}

/* zgornja vrstica */
.top-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    column-gap: 5%;
    align-items: center;
    }
.top-row-item{
    background-color: #212529c7;
    align-content: center;
    border-radius: 20px;
    width: fit-content;
    max-width: 100%;
    }
.top-row-search{
    background-color: #212529c7;
    align-content: center;
    border-radius: 20px;
    }


/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    align-content: center;
    border-radius: 20px;
    width: fit-content;
    max-width: 100%;
    }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212529c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
}
.dropdown-content a {
    color: rgb(255, 244, 219);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
}
.dropbtn {
    background-color: #21252900;
    align-content: center;
    width: fit-content;
    max-width: 100%;
    color: rgb(255, 244, 219);
    border: none;
    font-weight: normal;
    font-size: 16px;
    border-radius: 20px;
    padding: 12px;
}
.dropdown-content a:hover {
    background-color: #212529eb;
    border-radius: 20px;
    }
.dropdown:hover .dropdown-content {
    display: flex;
    }
.dropdown:hover .dropbtn {background-color: #212529eb;}

